<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Hakkımızda Metin Girişi</h3>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    <label>Açıklama 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Açıklama 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Görsel 1</label>
                    <input type="text" name="AboutImageURL1" class="form-control" />
                    <br />
                    <label>Görsel 2</label>
                    <input type="text" name="AboutImageURL2" class="form-control" />
                    <br />
                    <button class="btn btn-info" id="btnKaydet">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#btnKaydet').click(function () {
        swal("Tebrikler!", "Yeni Hakkımda Girişi Başarılı bir şekilde gerçekleşti", "success");
    })
</script>
<script src="~/Scripts/jquery-3.4.1.js"></script>