@model EntityLayer.Concrete.Header
@{
    ViewBag.Title = "AddHeader";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h1 class="container"> Yeni Başlık Ekleme Sayfası</h1>
<br />
<form method="post">
    <div class="container">

        <label>Başlık</label>
        @Html.TextBoxFor(x => x.HeaderName, new { @class = "form-control" })

        <br />
        <label>Kategori</label>
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.category, new { @class = "form-control" })


        <br />
        <label>Yazar</label>
        @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.writer, new { @class = "form-control" })

        <br />
        <button class="btn btn-outline-primary">Kaydet</button>
    </div>



</form>