

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sleet a Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sleet Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- font files -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
    <!-- /font files -->
    <!-- css files -->
    <link href="~/1errorpage/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/1errorpage/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

    <!-- /css files -->

    <body>

        <div class="container-w3layouts  text-center">
            <div class="agileits-logo">
                <h1>
                    <a href="/Header/Index">
                        <span class="fa fa-spinner" aria-hidden="true"></span>
                    </a>
                </h1>
            </div>
            <h2 class="txt-wthree">404 Sayfa Bulunamadı</h2>
            <p>
                Görünüşe göre kayboldun. Olsun herkesin başına gelebilir.
                <br>  Buyrun sizi Ana Sayfaya Alalım
            </p>
            <div class="btn btn-secondary">
                <a href="/Header/Index">Ana Sayfa</a>
            </div>
        </div>
        <div class="w3_agile-footer">
            <p>
                &copy; @DateTime.Now.Year . Tüm Hakları Saklıdır. | Design by
                <a href="http://w3layouts.com" target="=_blank">W3layouts</a>
            </p>
        </div>
    </body>

</html>

