@model EntityLayer.Concrete.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h3 class="container">Başlığa Yazı Ekleme Sayfası</h3>
<form class="container" method="post">
    <label>Yazı İçeriği</label>
    @Html.TextAreaFor(x => x.ContentText,20,1, new { @class = "form-control" })
    <br />
  <input type="hidden" name="HeaderID" value="@ViewBag.header" />
    <br />
    <button class="btn btn-outline-info">İçerik Ekle</button>
</form>


