
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p>#2 Başıklarda Paging</p>
<p>#3 Başıklarda Paging</p>
<p>#4 Oturum Yönetimi Mimariye taşınması </p>
<p>#5 Token Kullanımı </p>

